{% extends "template.html" %}

{% block content %}
<br/>
    {% for item in MENU %}
        <div class="shadow p-3 mb-5 bg-body rounded">
            <img class=itemimage src="static/images/{{item}}.jpg">
            <div class="itemform">
                <br/>
                <h4 id="item-title">{{ MENU[item].text }}</h4>
                <p>{{ MENU[item].description }}</p>
                <br/>
                {{ order.submit(class="btn btn-secondary", id="order-button") }}
            </div>
        </div>
    {% endfor %}

{% endblock %}