{% extends "template.html" %}

{% block content %}
<br/>
    <form method="POST" action="/menu" id="order">
    {% for item in MENU %}
        <div class="shadow p-3 mb-5 bg-body rounded" id="menubox">
            <img class=itemimage src="static/images/{{item}}.jpg">
            <div class="itemform">
                <h4 id="item-title">{{ MENU[item].text }}</h4>
                <p id="description">{{ MENU[item].description }}</p>
                <div id="order-div">
                    <select name="{{item}}size" id="pizza-size", form="order">
                        <option value="NONE" selected hidden>Select Size</option>
                        <option value="small">Small +$0.00</option>
                        <option value="medium">Medium +$2.00</option>
                        <option value="large">Large +$4.00</option>
                    </select>
                    <input type="submit" class="btn btn-success" id="order-button" value="Add to order" name="{{ item }}">
                </div>
            </div>
        </div>
    {% endfor %}
    </form>

{% endblock %}